{
    "plugins": [
      "@babel/plugin-transform-flow-strip-types",
      "@babel/plugin-transform-template-literals",
      ["@babel/plugin-transform-destructuring", { "loose": true }]
    ],
    "sourceType": "unambiguous"
  }